<h1>EDI ORDERING</h1>
<br>
<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <h2>เลือกไฟล์ที่ต้องการอัพโหลด:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="อัพโหลด"></div>
</form>

<p id="message">{{message}}</p>

<br>
<hr>
<p>- กรุณาตั้งชื่อไฟล์ตามฟอร์แมตดังนี้ "รหัสร้าน_ปีเดือนวัน" เช่น "99999_20200301"</p>
<p>- ตรวจสอบไฟล์ให้เรียบร้อยก่อนกดปุ่ม "อัพโหลด" เพราะท่านจะไม่สามารถยกเลิกได้</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if (!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>